$font-Lato: 'Lato', sans-serif;
$font-Sans: 'Open Sans', sans-serif;
$color-orange: #ffc155;
$color-blue: #709dca;
$color-heading: #394b50;
$color-p:#75888d;



@import 'header';
@import 'footer';

// Styles for banner

.banner{
  width: 100%;
  background-color: #709dca;
  padding-top: 100px;
  text-align: center;
  h1{
    font-family: $font-Lato;
    font-size: 35px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
  }
  p{
    font-family: $font-Lato;
    font-size: 16px;
    color: white;
    margin-top: 13px;
    margin-bottom: 35px;
  }
}
  .banner__form{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
    .banner__field-container{
      height: 50px;
      width: 23.5%;
      background-color: white;
      border-radius: 2px;
      border: none;

      font-weight: 13px;
      font-family: $font-Lato;
      display: flex;
      justify-content: space-around;
      align-items: center;

      i{
        color: #6e6e6e;
      }
      .banner__field{
        height: 50px;
        width: 80%;
        border: none;
        box-sizing: border-box;
        border: none;
        outline:none;
        font-size: 13px;
        color: #b6b6b6;
        &::-webkit-input-placeholder{
          color: #a9a9a9;
          font-weight: 13px;
        }
      }
    }

    .banner__button{
      @extend .banner__field-container;
      background-color:  #ffbb42;
      color: white;
    }
    .banner__container{
      width: 100%;
    }
    .banner__slider{
      max-height: 380px;
      width: 80%;
      max-width: 600px;
      position: relative;
      top: 75px;
      margin: 0 auto;


      img{
        width: 100%;
        height: 90%;
      }
    }

      .banner__slider-element{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2px solid #dedfe0;
        display: inline-block;
        margin-top: 15px;
      }
      .banner__slider-element_active{
        border: 2px solid #1ca8dd;
      }

//Styles for service
.service__container{
  margin-top: 200px;
  width: 80%;
  margin: 200px auto 0 auto;
  text-align: center;
}
.service{
  h1{
    font-size: 30px;
    text-transform: uppercase;
    color:#394b50;
    font-weight: bold;
  }
  p{
    color:#394b50;
    font-size: 16px;
    margin-top: 14px;
  }
}
  .service__block-container{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }
    .service__block{
      width: 40%;
      text-align: left;
      margin-bottom: 80px;
      h2{
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        color:#394b50;
      }

      p{
        font-size: 14px;
        line-height: 1.5;
      }
      i{
        font-size: 45px;
        color: #709dca;
        position: relative;
        top: 45px;
        right: 65px;
        &:hover{
          color: #fab68e;
        }
      }
    }

//Styles for about us

  .about-us{
    width:100%;
    display: flex;
    justify-content: flex-start;
  }
    .about-us__image{
      width: 50%;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .about-us__text{
      width: 50%;
      background-color: #ffc155;
      h1{
        font-size: 30px;
        color: white;
        text-transform: uppercase;
        margin-bottom: 30px;
        font-weight: bold;
        font-family: $font-Sans;
      }
      p{
        color: white;
        margin-bottom: 34px;
        font-size: 13px;
        line-height: 1.5;
        font-family: $font-Sans;
      }
      button{
        color: white;
        width:30%;
        height:30px;
        border:1px solid #e7ad48;
        background-color: #ffc155;
        text-transform: uppercase;
        font-size: 14px;
        font-family: $font-Lato;
      }
    }

    .about-us__container{
      width: 70%;
      height: 100%;
      position: relative;
      top:10%;
      left:40px;
    }

//Styles for rate

  .rate{
    background-color: #e7edf3;
    padding-top: 130px;
    padding-bottom: 130px;
    text-align: center;
  }
  .rate__container{
    width: 80%;
    margin: 0 auto;
    h2{
      font-size: 30px;
      font-family: $font-Lato;
      color:#394b50;
      text-transform: uppercase;
      font-weight: bold;
    }
    p{
      font-family: $font-Lato;
      color:#75888d;
      font-family: $font-Lato;
      line-height: 2;
      margin-bottom: 55px;
    }
  }
  .rate__plans{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rate__plan{
    width:30%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    button{
      background-color: $color-orange;
      color: white;
      text-transform: uppercase;
      width: 50%;
      line-height: 2;
      font-size: 14px;
      margin-top: 30px;
      border:none;
      border-radius: 2px;
    }
  }

  .rate__plan_basic{
    background-color: white;
    height: 440px;
    h3{
      color:#75888d;
      text-transform: uppercase;
      font-size: 25px;
      margin-top: 50px;
      font-family: $font-Lato;
    }
    ul{
      li{
        list-style-type: none;
        border-top: 1px solid #b5bbc1;
        color: #b5bbc1;
        line-height: 2.5;
        text-transform: uppercase;
        font-size: 13px;
        font-family: $font-Lato;
      }
    }
    .rate__price{
      width: 35%;
      margin: 0 auto;
      margin-top: 30px;
      p{
        font-size: 15px;
        text-transform: uppercase;
        color:#75888d;
        margin-bottom: 30px;
      }
    }
  }
  .rate__plan_premium{
    background-color: #709dca;
    height: 500px;
    h3{
      color:white;
      text-transform: uppercase;
      font-size: 25px;
      margin-top: 80px;
      font-family: $font-Lato;
    }
    ul{
      li{
        list-style-type: none;
        border-top: 1px solid white;
        color: white;
        line-height: 2.5;
        text-transform: uppercase;
        font-size: 13px;
        font-family: $font-Lato;
      }
    }
    .rate__price{
      width: 35%;
      margin: 0 auto;
      margin-top: 30px;

      p{
        font-size: 15px;
        text-transform: uppercase;
        color:white;
        margin-bottom: 30px;
      }


    }
  }
  .rate__plan_gold{
    @extend .rate__plan_basic;
  }



  .price{
    color: #ffc155;
    font-size: 50px;
    font-weight: bold;
    line-height: 1;
    &::before{
      content: "$";
      font-size: 25px;
      position: relative;
      bottom:25px;
    }
  }

.guide{
  width: 100%;
  margin-top: 150px;
}
  .guide__container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    h1{
      font-size: 30px;
      font-family: $font-Lato;
      text-transform: uppercase;
      color:$color-heading;
      font-weight: bold;
    }
    p{
      font-size: 18px;
      font-family: $font-Lato;
      line-height: 2;
      color:$color-p;
    }
    button{
      color: white;
      background-color: $color-orange;
      width: 20%;
      border: none;

      font-size: 14px;
      text-transform: uppercase;
      border-radius: 2px;
      line-height: 3;
      margin-bottom: 100px;
    }
  }

  .guide__steps{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
  }
    .guide__step{
      width: 20%;
      i{
        color:$color-blue;
        font-size: 60px;
        margin-bottom: 100px;
      }
      h4{
        color: $color-heading;
        font-size: 20px;
        text-transform: uppercase;
        font-family: $font-Lato;
        margin-bottom: 30px;
      }
      p{
        font-size: 13px;
        line-height: 2;
        color: $color-p;
        margin-bottom: 50px;
      }
    }

    .step1:after, .step3:after, .step2:after{
      content: "";
      background-image: url("../images/arrow.png");
      background-size: 100% 100%;
      height: 50px;
      width: 150px;
      position: relative;
      bottom: 400px;
      left: 140px;
      display: inline-block;
    }

    .step2:after{
      transform: rotate(180deg);
      bottom: 300px;
    }


.feedback{
  background-color: $color-orange;
  width:100%;
}
  .feedback__container{
    width: 80%;
    margin: 0 auto;
    padding-top: 140px;
    padding-bottom: 150px;
    text-align: center;
    h3{
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 30px;
    }
    p{
      color: white;
      line-height: 2;
      font-size: 16px;
      margin-bottom: 60px;
    }
  }

  .feedback__blocks{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }
    .feedback__client{
      width: 48%;
      background-color: white;

      margin-bottom: 20px;
      color: #d1d1d1;
      display: flex;
      padding: 40px 30px;
      box-sizing: border-box;
      text-align: left;
      img{
        height: 120px;
        width: 120px;
        border-radius: 50%;
        margin-right: 30px;
      }
      p{
        font-size: 13px;
        line-height: 1.5;
        color: #d1d1d1;
        margin-bottom: 20px;
      }
    }

    .feedback__commment-text::after{
      content: "\201d";
      display: inline-block;
      font-size: 20px;
      color: $color-heading;
    }

    .feedback__commment-text::before{
      @extend .feedback__commment-text::after;
      content: "\201c";
    }

    .feedback__name{
      text-transform: uppercase;
      font-size: 14px;
      font-family: $font-Lato;
      color: #f8a27a !important;
    }
    .feedback__profession{
      color: #99a9ae;
    }

//Styles for newsletter

  .newsletter{
    width: 100%;
    text-align: center;
    padding-top: 150px;
    h2{
      font-size: 30px;
      font-family: $font-Lato;
      text-transform: uppercase;
      color:$color-heading;
      font-weight: bold;
    }
    p{
      font-size: 18px;
      font-family: $font-Lato;
      line-height: 2;
      color:$color-p;
      margin-bottom: 40px;
    }
  }

  .newsletter__form{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    button{
      width: 30%;
      text-transform: uppercase;
      font-size: 14px;
    }
  }
  .newsletter__field-container{
    height: 50px;
    width: 30%;
    background-color: white;
    border-radius: 2px;
    border: none;
    border: 1px solid #cbcbcb;
    font-weight: 13px;
    font-family: $font-Lato;
    display: flex;
    justify-content: space-around;
    align-items: center;

    i{
      color: #6e6e6e;
    }
    .newsletter__field{
      height: 50px;
      width: 80%;
      border: none;
      box-sizing: border-box;
      border: none;
      outline:none;
      font-size: 13px;
      color: #b6b6b6;
      &::-webkit-input-placeholder{
        color: #a9a9a9;
        font-weight: 13px;
      }
    }
  }

//Styles for map

.map{
  width: 80%;
  margin: 0 auto;
  padding-bottom: 60px;
  border-bottom: 1px solid #e3e7ec;

}

  .map__background{
    background-image: url("../images/map.png");
    height: 540px;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }
  .map__address{
    background-image: url("../images/Shape-4.png");
    background-size: 100% 100%;
    height: 290px;
    width: 280px;
    text-align: center;
    padding-top: 60px;
    box-sizing: border-box;
    h4{
      font-size: 15px;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom:20px;

    }
    li{
      color: #aeb7ba;
      margin-bottom: 15px;
      list-style-type: none;
      font-size: 13px;
    }
    .map__email{
      color: $color-orange;
    }
  }
  .map__logo{
    background-image: url("../images/Logo2.png");
    background-size: 100% 100%;
    height: 50px;
    width: 50px;
  }



    @import 'media';
